
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

canvas {
    /* display: block;
    margin: auto; */
    border: 1px solid black;
    max-width: 95vh;
    max-height: calc(100vh - 120px);
    /* calc() allows authors to constrain content width to a certain range */
}

h1 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 25px;
}
