
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-image: url("./images/red-fruit-and-vegetables-on-a-white-background-2.jpg");
    background-size: cover;
}

canvas {
    /* display: block;
    margin: auto; */
    border: 1px solid rgb(241, 157, 169, 0.2); /* Border of the canvas */
    max-width: 95vw;
    max-height: calc(100vh - 350px);
    /* calc() allows authors to constrain content width to a certain range */
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 25px;
    color: #185222; /* Color of the main written */
}

.digits {
    text-align: center;
}

.digits button {
    height: 40px;
    width: 60px;
    color: #185222; /* Color of the input mask */
    font-family: Roboto;
    font-size: 15px;
}

.digits button.show-info {
    width: 190px;
}

.level-control {
    color: #185222; /* Color of the level control */
    font-family: Roboto;
    font-size: 15px;
}

.value {
    color: #185222; /* Color of the level's value DOES NOT WORK */
    font-family: Roboto;
    font-size: 15px;
}